# Copia este archivo como .env y completa tus datos reales
# Comando (PowerShell):  Copy-Item .env.example .env

#  Base de datos MySQL 
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=farmastock_db
DB_PORT=3306

#  Servidor backend 
PORT=3001
